* text=auto
*.py text eol=lf
*.ts text eol=lf
*.mjs text eol=lf
*.html text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.ps1 text eol=crlf
*.ttf binary
